# Node modules
node_modules/
dist/
out/

# Sistema
.DS_Store
Thumbs.db

# Ignorar a pasta dist_electron
dist_electron/

# Electron
*.asar
*.log

# Arquivos de cache e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build e arquivos gerados
dist_electron/
*.exe
*.msi
*.app

# Outros
*.env
*.local
*.tmp
